<!DOCTYPE html>
<html>
<head>
	<title>Mountains</title>
	<link lang="eng">
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="icon" type="image/png" href="img/favicon.png"/>
	<link rel="stylesheet" href="css/styles.css">
	<link rel="stylesheet" href="css/media.css">
	<link href="https://fonts.googleapis.com/css?family=Raleway:400,700" rel="stylesheet">
	<script src="./js/main.js"></script>
</head>
<body>





	<div class="header">
		<div class="nav-bg">
			<div class="nav">
				<div class="logo">
					<a href="#"><span>moun</span>tains</a>
				</div>
				<div class="menu">
					<a href="#">our story</a>
					<a href="#">services</a>
					<a href="#">work</a>
					<a href="#">journal</a>
					<a href="#">contact</a>
					<a href="#">work</a>
					<a href="#">journal</a>
				</div>
				<div class="button">
					<a href="#">call us</a>
				</div>
			</div>
		</div>
		<div class="title-pos">
			<div class="header-cont">
				<div class="title">
					<span>TRAVEL WITH US</span>	<br>to the Mountains
				</div>
				<div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing elit, se do eiusmod tempor incidid</div>
				<div class="button"><a href="#">ORDER NOW</a></div>
			</div>
		</div>
	</div>








	<div class="about">
		<div class="about-cont">
			<div class="left">
				<div class="waves">
					<img src="img/waves.png" alt="">
				</div>
				<div class="title">
					ABOUT US
				</div>
				<div class="sub-title">
					Aliquam sed posuere urna, et gravida nisl. Praesent <br>
					interdum nisl libero, pretium egestas purus eleifend <br>
					vitae. Mauris suscipit vel lectus at luctus.
				</div>
				<div class="button">
					<a href="#">read more</a>
				</div>
			</div>
			<div class="right">
				<div class="img-1"><img src="img/about-img-1.jpg" alt=""></div>
				<div class="img-2"><img src="img/about-img-2.jpg" alt=""></div>
			</div>
		</div>
	</div>








	<div class="journal">
		<div class="journal-cont">
			<div class="waves"><img src="img/waves.png" alt=""></div>
			<div class="title">our journal</div>
			<div class="gallery">
				<div class="left">
					<div class="item-1"> 
						<div class="it-img"><img src="img/heart.png" alt=""></div>
						<div class="it-cont">
							<div class="arrow"><img src="img/arrow.png" alt=""></div>
							<div class="title"><a href="#">LOVE</a></div>
							<div class="sub-title">Lorem ipsum dolor sit amet, consectetur adipisicing <br>elit, sed do</div>
							<div class="text">You know how to make best coffee in the <br>universe? Or, maybe you’re very good in <br> designing gloves? Tell everyone about <br>your experience and skills.
							</div>
							<div class="number">01</div>
						</div> 
					</div>
					<div class="item-2">	
						<div class="it-cont">
							<div class="arrow"><img src="img/arrow.png" alt=""></div>
							<div class="title"><a href="#">tree</a></div>
							<div class="sub-title">Lorem ipsum dolor sit amet, <span>consectetur</span> adipisicing elit,</div>
							<div class="text">The way to a successful brand is hard, <br>but always very interesting. Share the full <br>story of your project – from the very first <br> day until now.</div>
							<div class="number">02</div>
						</div> 
						<div class="it-img"><img src="img/leaf.png" alt=""></div>
					</div>
				</div>
				<div class="right">	
					<div class="item-3">	
						<div class="it-img"><img src="img/drop.png" alt=""></div>
						<div class="it-cont">
							<div class="arrow"><img src="img/arrow.png" alt=""></div>
							<div class="title"><a href="#">WATER</a></div>
							<div class="sub-title">LITTLE PIECES OF OUR PROUDNESS</div>
							<div class="text">What do you do better than your <br>competitors? What are you proud of? <br>What details and advantages of your <br>product you want people to know about?</div>
							<div class="number">03</div>
						</div> 
					</div>
				</div>
			</div>
		</div>
	</div>










	<div class="order">
		<div class="order-cont">
			<div class="waves"><img src="img/waves.png" alt=""></div>
			<div class="title">DO YOU WANNA GO?</div>
			<div class="sub-title">Aliquam sed posuere urna, et gravida nisl. Praesent <br>
				interdum nisl libero, pretium egestas purus eleifend vitae. Mauris suscipit vel lectus at luctus.
			</div>
			<div class="form">
				<form action="#" method="#" id="contactform" role="form">
					<div class="form-group ">
						<label for="contactname"></label>
						<input onkeyup= "this.value=this.value.replace(/[^a-zA-Zа-яА-ЯёЁ .]/, '')" type="text" class="name" id="contactname" placeholder="Your name:" >
						<div class="border"></div>
					</div>
					<div class="form-group">
						<label for="contactphone"></label>
						<input id="contactphone" class="phone_us" placeholder="Your phone:">
					</div>
					<div class="btn">
						<button type="submit" class="button">ORDER NOW</button>
					</div>
				</div>
				<div class="validation">
					<img src="img/locked.png" alt=""> * Your data will not be transferred
				</div>
			</div>
		</div>










		<div class="work">
			<div class="work-cont">
				<div class="waves"><img src="img/waves.png" alt=""></div>
				<div class="title">HOW WE WORK</div>
				<div class="work-items">
					<div class="item-1">
						<div class="shape-cont">
							<img  class="shape-long" src="img/shape-long.png" alt="">
						</div>
						<img class="num" src="img/num-1.png" alt="">
						<img class="shape-short" src="img/shape-short.png" alt="">
						<div class="circle">
							<img src="img/circle-1.png" alt="">
						</div>
						<div class="title">Lorem ipsum dolor sit</div>
						<div class="sub-title">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</div>
					</div>
					<div class="item-2">
						<img class="num" src="img/num-2.png" alt="">
						<img class="shape-short" src="img/shape-short.png" alt="">
						<div class="circle">
							<img src="img/circle-2.png" alt="">
						</div>
						<div class="title">Lorem ipsum dolor sit</div>
						<div class="sub-title">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</div>
					</div>
					<div class="item-3">
						<img class="num" src="img/num-3.png" alt="">
						<img class="shape-short" src="img/shape-short.png" alt="">
						<div class="circle">
							<img src="img/circle-3.png" alt="">
						</div>
						<div class="title">Lorem ipsum dolor sit</div>
						<div class="sub-title">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</div>
					</div>
					<div class="item-4">
						<img class="num" src="img/num-4.png" alt="">
						<img class="shape-short" src="img/shape-short.png" alt="">
						<div class="circle">
							<img src="img/circle-4.png" alt="">
						</div>
						<div class="title">Lorem ipsum dolor sit</div>
						<div class="sub-title">amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</div>
					</div>
				</div>
			</div>	
		</div>








		<div class="travel">
			<div class="travel-cont">
				<div class="waves">
					<img src="img/waves.png" alt="">
				</div>
				<div class="title">TRAVEL WITH US</div>
				<div class="tours">
					<div class="item-container margin-top">
						<div class="tour-item-1">
							<img src="img/stars-4.png" alt="">
							<div class="text">
								<div class="title"><a href="#">Carpathian</a></div>
								<div class="sub-title">Lorem ipsum dolor si amet, consectetur</div>
							</div>
							<div class="price">
								<div class="price-left">3150$</div>
								<div class="price-right">$793</div>
							</div>
						</div>
					</div>
					<div class="item-container margin-top">
						<div class="tour-item-2">
							<img src="img/stars-5.png" alt="">
							<div class="text">
								<div class="title"><a href="#">Alps</a></div>
								<div class="sub-title">Lorem ipsum dolor si amet, consectetur</div>
							</div>
							<div class="price">
								<div class="price-left">3150$</div>
								<div class="price-right">$1893</div>
							</div>
						</div>
					</div>
					<div class="item-container margin-top"> 
						<div class="tour-item-3">
							<img src="img/stars-5.png" alt="">
							<div class="text">
								<div class="title"><a href="#">Pyrenees</a></div>
								<div class="sub-title">Lorem ipsum dolor si amet, consectetur</div>
							</div>
							<div class="price">
								<div class="price-left">3150$</div>
								<div class="price-right">$2593</div>
							</div>
						</div>
					</div>
					<div class="item-container margin-top-4">
						<div class="tour-item-4">
							<img src="img/stars-5.png" alt="">
							<div class="text">
								<div class="title"><a href="#">Rocky</a></div>
								<div class="sub-title">Lorem ipsum dolor si amet, consectetur</div>
							</div>
							<div class="price">
								<div class="price-left">3150$</div>
								<div class="price-right">$2123</div>
							</div>
						</div>
					</div>
					<div class="item-container margin-top-5"> 
						<div class="tour-item-5">
							<img src="img/stars-3.png" alt="">
							<div class="text">
								<div class="title"><a href="#">Kavkaz</a></div>
								<div class="sub-title">Lorem ipsum dolor si amet, consectetur</div>
							</div>
							<div class="price">
								<div class="price-left">3150$</div>
								<div class="price-right">$593</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>







		<div class="gallery">
			<div class="gallery-cont">
				<div class="waves">
					<img src="img/waves.png" alt="">
				</div>
				<div class="title">
					Gallery
				</div>
				<div class="gallery-items">
					<div class="item-1">
						<div class="item-cont"><img src="img/gallery-item-1.png" alt=""></div>
						<div class="item-cont"><img src="img/gallery-item-2.png" alt=""></div>
					</div>
					<div class="item-2">
						<div class="item-cont"><img src="img/gallery-item-3.png" alt=""></div>
						<div class="item-cont"><img src="img/gallery-item-4.png" alt=""></div>
					</div>
					<div class="item-3">
						<div class="item-cont pad-right"><img src="img/gallery-item-5.png" alt=""></div>
						<div class="item-cont"><img src="img/gallery-item-6.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>







		<div class="sponsors">
			<div class="sponsor-cont">
				<div class="sponsor-1"><a href="#"><img src="img/sponsor-1.png" alt=""></a></div>
				<div class="sponsor-2"><a href="#"><img src="img/sponsor-2.png" alt=""></a></div>
				<div class="sponsor-3"><a href="#"><img src="img/sponsor-3.png" alt=""></a></div>
				<div class="sponsor-4"><a href="#"><img src="img/sponsor-4.png" alt=""></a></div>
				<div class="sponsor-5"><a href="#"><img src="img/sponsor-5.png" alt=""></a></div>
				<div class="sponsor-6"><a href="#"><img src="img/sponsor-6.png" alt=""></a></div>
			</div>
		</div>







		<div class="reviews">
			<div class="reviews-cont">
				<div class="waves"><img src="img/waves.png" alt=""></div>
				<div class="title">our Clients say</div>
				<div class="reviews-items">
					<div class="item-1">
						<img src="img/brackets.png" alt="">
						<div class="text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
						</div>
						<div class="user">
							<div class="photo"><img src="img/photo-1.png" alt=""></div>
							<div class="name"><span>Pavliv Yaroslav</span> Web designer</div>
						</div>
					</div>
					<div class="item-2">
						<img src="img/brackets.png" alt="">
						<div class="text">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
						</div>
						<div class="user">
							<div class="photo"><img src="img/photo-2.png" alt=""></div>
							<div class="name"><span>John Scott </span>The Fringe</div>
						</div>
					</div>
				</div>
				<div class="contact">
					<div class="title">CONTACTS</div>
					<div class="sub-title">Sign up for our newsletter to receive updates</div>


					<div class="contact-form">
						<form>
							<div class="form-group ">
								<label for="contactname"></label>
								<input onkeyup= "this.value=this.value.replace(/[^a-zA-Zа-яА-ЯёЁ .]/, '')" type="text" class="name" id="contactname" placeholder="Name">
							</div>
							<div class="form-group">
								<label for="contactphone"></label>
								<input type="tel" class="phone_us" id="contactphone" placeholder="Phone">
							</div>
							<div class="form-group">
								<label for="contactmail"></label>
								<input type="email" id="contactmail" placeholder="E-mail">
							</div>
							<div class="form-group-btn">
								<button type="submit">SEND</button>
							</div>
						</form>
					</div>
				</div>
				<div class="footer">
					<div class="rights">All rights reserved 2015</div>
					<div class="buttons">
						<a class="tw" href="#"><img src="img/tw-btn.png" alt=""></a>
						<a class="fb" href="#"><img src="img/fb-btn.png" alt=""></a>
						<a class="vk" href="#"><img src="img/vk-btn.png" alt=""></a>
					</div>
					<div class="title">1 234 243 123</div>
				</div>
			</div>

		</div>








	</body>
	</html>
